@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
   outline: none;
   border: none;
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}
body {
   font-family: "Roboto", sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}
code {
   font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
.d-flex {
   display: flex;
}
.mb-2 {
   margin-bottom: 0.4rem;
}
.spacer,
.w-100 {
   width: 100% !important;
}
