#Suggestions {
   position: absolute;
   left: 1rem;
   top: 3.5rem;
   z-index: 101;
   background-color: white;
   width: 18rem;
   border-radius: 0.2rem;
   box-shadow: 0 2px 4px rgba(black, 0.25);
   padding: 0.3rem 0;
   display: none;
   &.show {
      display: block;
   }
   .suggestion {
      padding: 0.4rem 1rem;
      cursor: pointer;
      &:hover {
         background-color: #f5f5f5;
      }
      .title {
         color: #424242;
         font-size: 0.99em;
      }
      .country {
         color: #757575;
         font-size: 0.9em;
      }
   }
}
